nav {
    background-color: rgb(18, 18, 62);
    color: white;
    display: flex;
    flex-direction: row;
    height: 50px;
}

nav .right ul {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .left {
    font-size: 25px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .right {
    font-size: 20px;
    width: 60%;
    padding: 0px 20px;
}
nav ul li a {
    font-size: 1.35rem;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.3rem;
}

@media screen and (max-width:599px){
   
    nav{
        flex-direction: column;
        height: auto;
    }

    nav .left ,nav .right {
        width: 100%;
        height: auto;
    }

    nav .left{
        font-size: 1.7rem;
    }

    nav .right{
        padding: 0px;
       
    }
    nav .right ul{
        padding: 0px 14px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
       
    }

    nav .right ul li a{
        font-size: 17px;
    }

    nav ul li a:hover {
        color: rgb(153, 153, 226);
        font-size: 14px;
    }

}