

 body {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
     background-color: rgb(0, 0, 33);
     color: white;
     padding: white;
     font-family: 'poppins', sans-serif;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: auto;
     background-color: rgb(18, 18, 62);
 }

 nav ul {
     display: flex;
     justify-content: center;
 }

 nav ul li {
     list-style: none;
     margin: 0 23px;
 }

 nav ul li a {
     text-decoration: none;
     color: white;
 }

 nav ul li a:hover {
     color: rgb(153, 153, 226);
     font-size: 1.01rem;
 }



 
 
 .left {
     font-size: 1.5rem;
    }
    
    main hr {
        border: 0;
        background-color: #9c97f1;
        height: 1.2px;
        margin: 60px 84px;
    }


    

 .firstSection {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 130px 0;
 }

 .firstSection>div {
     width: 30%;
 }

 .leftSection {
     /* background-color: red; */
     font-size: 3rem;
     max-width: 30px 0;
 }

 .leftSection .button {
     padding: 15px 0;
 }

 .leftSection .btn {
     padding: 12px;
     background-color: #2c2e6b;
     color: white;
     border: 1px solid white;
     border-radius: 6px;
     font-size: 20px;
     cursor: pointer;

 }

 .rightSection img {
     /* background-color: red; */
     width: 80%;
     margin: 50px 0;
 }

 /* . for class & # for id */
 #element {
     color: rgb(153, 153, 226);
 }


 .secondSection {
     max-width: 80vw;
     margin: auto;
     font-size: 1.5rem;
     height: 80vh;
 }

 .text-gray {
     color: gray;
     font-size: 0.8rem;
 }

 .secondSection .box {
     background-color: white;
     width: auto;
     height: 2px;
     margin: 50px 0;
     display: flex;
 }

 .secondSection .vertical {
     background-color: white;
     width: 1px;
     height: 80px;
     margin: 0 auto;
 }

 .vertical-img{
        height: 34px;
         position: relative;
         top: -41px;
         left: -9px;
 }

.vertical-top {
    position: relative;
    top: 50px;
    width: 150px;
    font-size: 20px;
  }

.vertical-des {
    position: relative;
    top: 20px;
    width: 150px;
    color:grey;
    font-size: 15px;
}












 footer {
     background-color: rgb(40, 49, 64);
     /* height: 223px; */
     justify-content: sapce-evenly;
 }

 .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 22px 122px
 }

 footer .footer-bottom {
     color: gray;
     text-align: center;
     padding: 12px 0;
 }

 footer ul {
     list-style: none;
 }

 .png-img{
    mix-blend-mode: color-burn;
 }







 @media (max-width: 768px) {

     /* Add your mobile-specific styles here */
     body {
         /* Mobile-specific body styles */
         
            .firstSection{
                /* flex-wrap: wrap; */
                flex-direction: column;
                align-items: center;
            }
            .leftSection{
                order:2;
                width: fit-content;
            }
            .rightSection{
                height: auto;
                order:1;
                width: fit-content;
                margin: 2px;
            }

            .rightSection img {        
                width: 80%;
                margin: 50px;
            }

            
            /* .secondSection .box{
                flex-wrap: wrap;
            }
            
            .box .vertical{
                text-align: center;
                background-color: rgb(0, 0, 33);
                width: 100%;
                height: auto;
                
            }

            
            
            .box .vertical .vertical-top{
                
                left: 50px;
            }
            
            .box .vertical .vertical-des{
                text-align: center;
                position: relative;
                left: 140px;
            } 
            */
            
            .secondSection .box{
                flex-direction: column;
                align-items: center;
                background-color: rgb(0, 0, 33);
                height: 500px;
            }
            .vertical{
                height: 100px;
            }
            
            .vertical-img {
                height: 34px;
                position: relative;
                top: 54px;
                left: -120px;
            }
            
        }
        
        .footer{
            flex-wrap: wrap;
            width:fit-content;
        }



     nav {
         /* Mobile-specific nav styles */
         width: flex;
        flex-wrap: wrap;
        height: 30%;
        .left{
            height: 50%;
        }
        .right{
            height: 50%;
        }
     }

     /* Adjust other elements for mobile screens */
 }